<div class="container">
  <div class="col-md-6">
<div class="page-header">
<center><h1>Notabli</h1></center>
    </div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'memories'}}<h4>Memories</h4>{{/link-to}}</li>
          <li>{{#link-to 'moments'}}<h4>Moments</h4>{{/link-to}}</li>
        </ul>
      </div>
    </nav>
    {{outlet}}
  </div>
</div>
